@charset "utf-8";

 *,
::before,
::after{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

ul,
ol{
    list-style: none;
}

a{
    color:inherit;
    text-decoration:none;
}

body{
    font-family:sans-serif;
    font-size:16px;
    color:#000000;
    line-height:1;
    background-color:#ffffff;
}

img{
    max-width:100%;
}

.header-inner{
    max-width:1200px;
    height:110px;
    margin-left:auto;
    margin-right:auto;
    padding-left:40px;
    padding-right:40px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.toggle-menu-button{
    display:none;
}

.header-logo{
    display:block;
    width:170px;
}

.site-menu ul{
    display:flex;
}

.site-menu ul li{
    margin-left:20px;
    margin-right:20px;
}

.site-menu ul li a{
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
}

.footer{
    color:#000000;
    background-color:#c0c0c0;
    padding-top:30px;
    padding-bottom:15px;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer-logo{
    display:block;
    width:235px;
    margin-top:90px;
}

.footer-tel{
    font-size:26px;
    font-weight:bold;
    margin-top:28px;
}

.footer-time{
    font-size:13px;
    margin-top:16px;
}

.copyright{
    font-size:14px;
    font-weight:bold;
    margin-top:90px;
}

.title{
    height:300px;
    background-image:url(top.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-shadow: 1px 1px 10px #4b2c14;
}

.title h1{
    font-family:'Montserrat', sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.title p{
    font-size: 14px;
    margin-top: 15px;
}

.item-list{
    width:930px;
    max-width:90%;
    margin-top:75px;
    margin-left:auto;
    margin-right:auto;
    display:grid;
    grid-template-columns:repeat(auto-fit,240px);
    column-gap:95px;
    row-gap:70px;
    justify-content: center;
}

.item-list dl{
    margin-top:20px;
}

.item-list dt{
    font-weight:bold;
}

.item-list dd{
    font-size:13px;
    line-height:20px;
    margin-top:10px;
}

.item-list .subject{
    font-weight:bold;
    margin-top:15px;
}

.item-list li{
    position: relative;
}

.item-list .item-label{
    position:absolute;
    top:0;
    left:calc(100% + 18px);
    font-size: 10px;
    white-space: nowrap;
    transform-origin: top left;
    transform: rotate(90deg);
}

.footer{
    margin-top: 100px;
}

.img-item {
   width: 100%;
   height: 300px;
   object-fit: cover;
}


@media (max-width: 800px){
    .site-menu ul{
        display:block;
        text-align:center;
    }

    .site-menu li{
        margin-top:20px;
    }

    .header{
        position:fixed;
        top:0;
        left:0;
        right:0;
        background-color:#ffffff;
        height:50px;
        z-index:10;
        box-shadow:0 3px 6px rgba(0,0,0,0.1);
    }

    .header-inner{
        padding-left:20px;
        padding-right:20px;
        height:100%;
        position:relative;
    }

    .header-logo{
        width:100px;
    }

    .header-site-menu{
        position:absolute;
        top:100%;
        left:0;
        right:0;
        color:#ffffff;
        background-color:#736E62;
        padding-top:30px;
        padding-bottom:50px;
        display:none;
    }

    .toggle-menu-button{
        display:block;
        width:44px;
        height:34px;
        background-image:url(icon-menu.png);
        background-size:50%;
        background-position:center;
        background-repeat:no-repeat;
        background-color:transparent;
        border:none;
        border-radius:0;
        outline:none;
    }

    .header-site-menu.is-show{
        display:block;
    }

    .main{
        padding-top:50px;
    }

    .footer-logo{
        margin-top:60px;
    }

    .footer-tel{
        font-size:20px;
    }

    .copyright{
        margin-top:50px;
    }
  
    .item-list{
        margin-top: 45px;
        row-gap: 40px;
    }
}









